{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>ĐĂNG NHẬP</title>
  </head>
  <body>
    <div class="login">
      <div class="navbar"></div>
      <div class="wrapper">
        <div class="logo_container">
          <div class="logo_wrapper">
            <img class="loginImg" src="{% static 'img/icon/logo-login.png' %}" alt="" />
          </div>
        </div>
        <div class="title">Đăng ký tài khoản</div>
        <div style="text-align: center; color: #fff">
          {% if msg %}
          <large>{{ msg | safe }}</large>
          {% else %} Nhập thông tin {% endif %}
        </div>
        {% if not success %}
        <div class="loginForm">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">{{ form.username }}</div>
            <div class="form-group">{{ form.password1 }}</div>
            <div class="form-group">{{ form.password2 }}</div>
            <div class="form-group">{{ form.uid }}</div>

            <div class="reset_text">Quên mật khẩu?</div>
            <a href="/login">
              <div class="register_text">Đăng nhập</div>
            </a>
            <button>Đăng ký</button>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
