{% extends "base.html" %} {% load static %} {% block content %}
<div class="content">
  <div class="controler">
    <div class="controler_title">
      <h2>TOP SẢN PHẨM HOT</h2>
    </div>
    <div class="controler_mainV2">
      <div class="controler_itemV2">
        <a href="/game/1/">
          <div class="controler_imgV2">
            <img src="{% static 'img/lobby/lobby1.jpg' %}" alt="" />
          </div>
          <h3>BỘ N3 - LOẠI BỎ NÁM, TÀN NHANG, ĐỒI MỒI</h3>
          <div class="price_box">
            <span class="woocommerce-Price-amount amount"
              ><bdi>2.490.000&nbsp;<span class="woocommerce-Price-currencySymbol">Đ</span></bdi></span
            >
          </div>
        </a>
      </div>
      <div class="controler_itemV2">
        <a href="/game/2/">
          <div class="controler_imgV2">
            <img src="{% static 'img/lobby/lobby2.jpg' %}" alt="" />
          </div>
          <h3>M28 - GEL TÁI TẠO CẤU TRÚC DA</h3>
          <div class="price_box">
            <span class="woocommerce-Price-amount amount"
              ><bdi>2.742.000&nbsp;<span class="woocommerce-Price-currencySymbol">Đ</span></bdi></span
            >
          </div>
        </a>
      </div>
      <div class="controler_itemV2">
        <a href="/game/3/">
          <div class="controler_imgV2">
            <img src="{% static 'img/lobby/lobby3.jpg' %}" alt="" />
          </div>
          <h3>Bộ S6 - LÀM ĐẸP DA SẸO RỖ</h3>
          <div class="price_box">
            <span class="woocommerce-Price-amount amount"
              ><bdi>2.934.000&nbsp;<span class="woocommerce-Price-currencySymbol">Đ</span></bdi></span
            >
          </div>
        </a>
      </div>
      <div class="controler_itemV2">
        <a href="/game/4/">
          <div class="controler_imgV2">
            <img src="{% static 'img/lobby/lobby4.jpg' %}" alt="" />
          </div>
          <h3>M11 - KEM PHỤC HỒI TÁI TẠO DA</h3>
          <div class="price_box">
            <span class="woocommerce-Price-amount amount"
              ><bdi>2.742.000&nbsp;<span class="woocommerce-Price-currencySymbol">Đ</span></bdi></span
            >
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
